<!-- Prefooter Section -->
                    <div class="row pre-footer">
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">HEAD OFFICE</h4>
                                    <p>17, Bello Street, Ladipo Estate,
                                        <br> Shogunle, Ikeja, Lagos </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">CALL US</h4>
                                    <p> OFFICE: +234 803 2007 254
                                        <br> PHONE: +234 803 2258 749</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">EMAIL US</h4>
                                    <p>info@retracecompany.com
                                        <br> support@retracecompany.com </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Prefooter Section -->

